
<app-header></app-header>

<section ng-show="time" class="container-times">
	<messages></messages>

	<header class="header">
		<div class="container">
			<img ng-src="{{time.logo}}"/> 

			<div class="content-title">
				<h1 class="title">{{time.nome}}</h1>
				<button ng-if="showGoBack" type="button" class="btn btn-link color-black inverter" ng-click="goBack()">
					<span class="glyphicon glyphicon-chevron-left"></span>
				    Voltar
				</button>
			</div>
			
			<div class="form-group">	
				<label class="control-label">Selecione uma posição: </label>		
				<select class="form-control" ng-options="jogador.posicao for jogador in time.jogadores track by jogador.id" ng-model="posicaoselecionada">
					<option value="">Selecione</option>				
				</select>
			</div>
		</div>
	</header>

	<article class="body" ng-if="jogadores">
		<div class="container">
			<ul class="col-sm-4">
				<li class="jogadores">
					<h3>{{jogadores.posicao}}</h3>
					<ul class="list">
						<li ng-repeat="nome in jogadores.nomes">
							<a class="btn btn-primary" href ng-click="openPerfil(nome, jogadores)">
								{{nome.nome}} <span>+</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>

			<aside ng-show="perfil" class="perfil col-sm-8">
				<div class="col-sm-3">
					<img ng-src="{{perfil.foto}}" width="100px"/>
				</div>

				<div class="col-sm-9">
					<h3>{{perfil.nome}}</h3>
					<p>Idade: {{perfil.idade}}</p>
					<p>Posição: {{perfil.posicao}}</p>
				</div>
			</aside>
		</div>
	</article>
</section>	

<app-footer></app-footer>
